{% extends "base.html" %}
{% load static %}

{% block title %}Каталог{% endblock %}
{% block content %}
    <div class="container">
        <div class="header">
            <h1><a href="/catalog">Каталог</a></h1>
        </div>

        <div class="sort-block">
            Отсортировать каталог
            <a href="?sort=name">по имени</a>
            <a href="?sort=min_price">сначала дешевые</a>
            <a href="?sort=max_price">сначала дорогие</a>
        </div>
        <br>
        <div class="content">
            <table>
                <thead>
                <td>Модель</td>
                <td>Цена, руб</td>
                </thead>
                {% for phone in phones %}
                    <tr>
                        <td><a href="{{ phone.slug }}">{{ phone.name }}</a></td>
                        <td>{{ phone.price }}</td>
                    </tr>
                {% endfor %}
            </table>
        </div>
    </div>
{% endblock %}